.main-body {
  display: inline-block;
}

.samsung {
  height: 100px;
  width: auto;
  object-fit: fill;
  border-width: 10;
  border-style:dotted;
  display: inline-block;
}

.left {
  width: 300px;
  height: 100px;
  display: inline-block;
  font-size: xx-large;
  object-position: left;
}

.right {
  width: 200px;
  height: 100px;
  display: inline-block;
  font-size: xx-large;
  object-position: right;
}

.shopping-heading {
  font-size: px;
}

.details-button {
  object-position: bottom;
  display: inline;
}